$fontSize: 0.86em;
.ipgList{
    list-style-type: none;
    padding:0;
    margin-top: 5%;
    border-top: 1px solid #e8e8e8;
    height: 72vh;
    overflow-y: auto;
    li{
        padding: 8%;
        border-bottom: 1px solid #e8e8e8;
        cursor: pointer;
        font-size: $fontSize;
        text-align: center;
    }
    li:hover, .active{
        font-weight: bold;
    }
}
.centered{
    text-align: center;
}
.paddingTop{
    padding-top:3%;
}
input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-repeat: no-repeat;
    font-size: 0.86em;
}